/* General style */
:root {
	--clr-orange: hsl(25, 97%, 53%);
	--clr-white: hsl(0, 0%, 100%);
	--clr-light-grey: hsl(217, 12%, 63%);
	--clr-medium-grey: hsl(216, 12%, 54%);
	--clr-dark-blue: hsl(213, 19%, 18%);
	--clr-dark-blue-btn: hsl(213, 17%, 23%);
	--clr-vDark-Blue: hsl(216, 12%, 8%);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.4rem;
	font-family: "Overpass", sans-serif;
	background: var(--clr-vDark-Blue);
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
}

/* Container */

.container {
	border-radius: 1.5rem;
	background: var(--clr-dark-blue);
	width: 80%;
	max-width: 370px;
	height: 38%;
	max-height: 400px;
	padding: 1rem;
}

.container-secondary {
	text-align: center;
}

/* Images */

.img {
	background: var(--clr-dark-blue-btn);
	padding: 1.3rem;
	border-radius: 50%;
	margin-left: 1.5rem;
	margin-top: 1.5rem;
}

.img-secondary {
	margin-top: 2rem;
}

/* Content */

.header {
	color: var(--clr-white);
	margin-bottom: 1.5rem;
	margin-left: 1.5rem;
	font-weight: 700;
}

.header-secondary {
	margin-left: 0;
}

.content {
	color: var(--clr-light-grey);
	line-height: 2.3rem;
	margin-bottom: 2.5rem;
	margin-left: 1.5rem;
	font-weight: 400;
}

.content-secondary {
	margin: 0 auto;
	max-width: 35ch;
}

/* Buttons */

.btn-group {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2.5rem;
}

.ratings {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn {
	border: none;
	color: var(--clr-light-grey);
	background: var(--clr-dark-blue-btn);
	border-radius: 50%;
	width: 4rem;
	height: 4rem;
	padding-top: .3rem;
	cursor: pointer;
	transition: .3s;
	margin-right: 1rem;
}

.btn:hover {
	background: var(--clr-orange);
	color: var(--clr-white);
}

.btn:focus {
	background: var(--clr-light-grey);
	color: var(--clr-white);
}

#submit {
	width: 90%;
	border: none;
	text-transform: uppercase;
	color: var(--clr-white);
	background: var(--clr-orange);
	border-radius: 50px;
	padding: 1.5rem 1rem 1rem;
	margin: 0 auto;
	transition: .3s;
	cursor: pointer;
	font-weight: 700;
}

#submit:hover {
	background: var(--clr-white);
	color: var(--clr-orange);
}



@media screen and (min-width: 394px) {
	.ratings {
		gap: 1.5rem;
	}
}

/* Display */

.display {
	width: 50%;
	height: 30px;
	background: var(--clr-dark-blue-btn);
	color: var(--clr-orange);
	margin: 2rem auto 2.5rem;
	border-radius: 20px;
}
.comment {
	padding-top: 0.9rem;
}

/* Hidden */

.hidden {
	display: none;
}