/* General style */
:root {
	--clr-orange: hsl(25, 97%, 53%);
	--clr-white: hsl(0, 0%, 100%);
	--clr-light-grey: hsl(217, 12%, 63%);
	--clr-medium-grey: hsl(216, 12%, 54%);
	--clr-dark-blue: hsl(213, 19%, 18%);
	--clr-vDark-Blue: hsl(216, 12%, 8%);
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.5rem;
	font-family: "Overpass", sans-serif;
	background: var(--clr-vDark-Blue);
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
}

/* Container */

.container {
	border-radius: 1rem;
	background: var(--clr-dark-blue);
	max-width: 80%;
	padding: 1rem;
}

.img-container {
	border-radius: 100%;
	background: var(--clr-white);
	width: 4rem;
	height: 4rem;
	line-height: 3rem;
	text-align: center;
}

/* Images */

.logo img {
	margin-top: 1.2rem;
}

/* Content */

.header {
	color: var(--clr-white);
}

.content {
	color: var(--clr-light-grey);
}

/* Buttons */

.btn-group {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}
.btn {
	color: var(--clr-light-grey);
	border: none;
	border-radius: 50%;
	height: 4rem;
	width: 4rem;
	line-height: 2.5rem;
	outline: none;
	padding: 1rem;
	margin: 0 0.7rem;
}

#submit {
	background: var(--clr-orange);
	color: var(--clr-white);
	width: 80%;
	border-radius: 50px;
	letter-spacing: 0.3rem;
}
