/* General style */
:root {
	--clr-orange: hsl(25, 97%, 53%);
	--clr-white: hsl(0, 0%, 100%);
	--clr-light-grey: hsl(217, 12%, 63%);
	--clr-medium-grey: hsl(216, 12%, 54%);
	--clr-dark-blue: hsl(213, 19%, 18%);
	--clr-dark-blue-btn: hsl(213, 17%, 23%);
	--clr-vDark-Blue: hsl(216, 12%, 8%);
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.4rem;
	font-family: "Overpass", sans-serif;
	background: var(--clr-vDark-Blue);
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
}

/* Container */

.container {
	border-radius: 1.5rem;
	background: var(--clr-dark-blue);
	width: 80%;
	max-width: 350px;
	height: 36%;
	max-height: 400px;
	padding: 1.5rem;
}

.container-secondary {
	text-align: center;
}

.img-container {
	border-radius: 100%;
	background: var(--clr-dark-blue-btn);
	width: 4rem;
	height: 4rem;
	line-height: 3rem;
	text-align: center;
	margin-bottom: 2rem;
	margin-left: 1.5rem;
	margin-top: 1.2rem;
}

/* Images */

.logo img {
	margin-top: 1.2rem;
}

.img-secondary {
	margin-top: 2rem;
}

/* Content */

.header {
	color: var(--clr-white);
	margin-bottom: 1.5rem;
	margin-left: 1.5rem;
}

.header-secondary {
	margin-left: 0;
}

.content {
	color: var(--clr-light-grey);
	line-height: 2.3rem;
	margin-bottom: 2.5rem;
	margin-left: 1.5rem;
}

.content-secondary {
	margin: 0 auto;
	max-width: 35ch;
}

/* Buttons */

.btn-group {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}
.btn {
	color: var(--clr-light-grey);
	background: var(--clr-dark-blue-btn);
	border: none;
	border-radius: 50%;
	height: 4rem;
	width: 4rem;
	line-height: 2.5rem;
	outline: none;
	padding: 1rem;
	margin: 0 1.4rem 0 0;
	transition: all 0.3s;
}

.btn:hover {
	color: var(--clr-white);
	cursor: pointer;
	background: var(--clr-orange);
}

.btn:hover + .btn {
	background: var(--clr-light-grey);
	color: var(--clr-white);
}

.ratings-btns {
	margin-bottom: 1.9rem;
	display: flex;
	flex-direction: row-reverse;
	gap: 0.3rem;
}

#submit {
	background: var(--clr-orange);
	color: var(--clr-white);
	width: 97%;
	border-radius: 50px;
	letter-spacing: 0.3rem;
	font-weight: bold;
	margin-left: 1.5rem;
	transition: all 0.3s;
}

#submit:hover {
	cursor: pointer;
	background: var(--clr-white);
	color: var(--clr-orange);
}

@media screen and (min-width: 394px) {
	.ratings-btns {
		gap: 1.5rem;
	}
}

/* Display */

.display {
	width: 60%;
	height: 27px;
	background: var(--clr-dark-blue-btn);
	margin: 2rem auto 2.5rem;
	border-radius: 20px;
}
